args==0.1.0
asgiref==1.0.0
autobahn==0.17.0
channels==0.17.3
clint==0.5.1
constantly==15.1.0
contextlib2==0.5.4
daphne==0.15.0
Django==1.10.2
django-appconf==1.0.2
django-compressor==2.1
django-configurations==2.0
django-constance==1.3.3
django-extensions==1.7.2
django-kaio==0.4.0
django-logentry-admin==1.0.2
django-picklefield==0.3.2
django-redis==4.4.4
django-robots==2.0
django-yubin==0.3.0
djangorestframework==3.5.3
incremental==16.10.1
lockfile==0.12.2
oauthlib==2.0.1
pkg-resources==0.0.0
psycopg2==2.6.2
pytz==2016.6.1
pyzmail==1.0.3
raven==5.27.1
rcssmin==1.0.6
redis==2.10.5
requests==2.12.4
requests-oauthlib==0.7.0
rjsmin==1.0.12
six==1.10.0
Twisted==16.6.0
txaio==2.5.2
zope.interface==4.3.3
