{% extends "base.html" %}
{% load i18n %}

{% block title %}Toilet Status{% endblock title %}

{% block content %}
  <div class="row">
  {% for toilet in toilets %}
    <div class="col-md-6">
      <h2>{{ toilet.name }}</h2>
      <h3 id="toilet-{{ toilet.id }}"></h3>
      <div id="toilet-last-usage-{{ toilet.id }}">
          (last usage time: <span id="toilet-last-usage-time-{{ toilet.id }}"></span>)
      </div>
      <h4 id="toilet-counter-{{ toilet.id }}"></h4>
    </div>
  {% endfor %}
  </div>
{% endblock content %}

{% block page_js %}
    <script>
        function createTimeCounter(date, toilet_id){
            if (date){
                return setInterval(function () {
                    $("#toilet-counter-" + toilet_id).text(countdown(date).toString());
                }, 1000);
            }
        }
        $(function () {
            var timeCounters = [];

            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_host = '{{ ws_host }}';
            var ws_path = ws_scheme + '://' + ws_host + "/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            // Handle incoming messages
            socket.onmessage = function(message) {
                console.log("Got message " + message.data);
                var data = JSON.parse(message.data);
                // Set a counter for each toilet
                $.each(data, function(index, item){
                    if (item.in_use){
                        $("#toilet-" + item.toilet_id).text("Ocupat");
                    }else{
                        $("#toilet-" + item.toilet_id).text("Lliure");
                    }
                    $("#toilet-counter-" + item.toilet_id).text("");
                    clearTimeout(timeCounters[item.toilet_id]);
                    timeCounters[item.toilet_id] = createTimeCounter(new Date(item.date), item.toilet_id);

                    // If the toilet is free, show the last usage time
                    if (!item.in_use){
                        $.get('toilet/' + item.toilet_id +'/last_usage_time', function(data){
                            $("#toilet-last-usage-" + item.toilet_id).show();
                            total_time = moment.duration(data.usage_time, "seconds").humanize();
                            $("#toilet-last-usage-time-" + item.toilet_id).text(total_time);
                        });
                    }else{
                        $("#toilet-last-usage-" + item.toilet_id).hide();
                    }
                });
            };
            // Helpful debugging
            socket.onopen = function() {
                console.log("Connected to notification socket");
                $.get('toilets/last_event')
            };
            socket.onclose = function() {
                console.log("Disconnected to notification socket");
            };
        });
    </script>
{% endblock page_js %}
